<p><h1 style="text-align:center">Fuck, go back!</h1></p>
<div style="text-align:center">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="scrolly button">To home page   </a>
    <a asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="scrolly button">      Logout</a>
</div>