@model IQueryable<ServiceItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.KeyWords = textField.MetaKeywords;
}

<div class="conttainer">
    @if (Model.Any())
    {
        <ul>
            @foreach (ServiceItem entity in Model)
                {
                    <li>
                        <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                            <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                        </a>
                        <h2>@entity.Title</h2>
                        <p>@entity.Subtitle</p>
                    </li>
                }
        </ul>
    }
</div>