@model ServiceItem
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div class="container">
    <h2>
        @Model.Title
    </h2>
    <h2>
        @Model.Subtitle
    </h2>
    <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath" />
    </div>
</div>
<div>
    @Html.Raw(Model.Text)
    <footer>
        <div style="text-align: center">
            <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="" class="button scrolly">Back to services</a>
        </div>
    </footer><br />
</div>