@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.KeyWords = Model.MetaKeywords;
}

<br />
<div class="container" style="text-align: center">
    <p>There's on this page presented my actual contact details if you'll want to contact</p>
    <p>So, again, <strong>i update that details from my admin panel :)</strong>, maybe someday i'll do</p>
    <p>register for new users, so i can contact you myself first, but i think that this is unnecesary show-off.</p>
</div>

<section id="TextField">
    <div class="container">
        @Html.Raw(Model.Text)
    </div>
    <br />
</section>
