@model TextField
@{
    ViewBag.Description = Model.MetaDescription;
    ViewBag.KeyWords = Model.MetaKeywords;
    ViewData["Title"] = "Antonov Develop";
}

<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <br />
            <h2 class="alt">
                Hello there! My name is <strong>Maxim Antonov</strong>, I'm a beginning .NET developer.
            </h2>
            <p>
                Thank you for visit this site. It is my personal space on the internet, as well as my business card or a place for show-off my skills, how that you want.
                Anyway, if you are employer or HR-manager who want to hire <strong>a young man, that like a coding and passionate about his work </strong>, - you may scroll it down :)
            </p>
        </header>

    </div>
</section>

<section id="TextField">
<div class="container1">
    @Html.Raw(Model.Text)
</div>
</section>





<!-- About Me -->
<section id="about" class="three">
    <div class="container">

        <header>
            <h2>About Me</h2>
        </header>

        <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

        <p>
            I was born in the village near town Ulan-Ude, The Republic of Buryatia (It's a part of Russian Federation, if you didn't know.
            When i first visited Moscow, i was amazed how many people don't know about this thing. That's why I say) in 2001.
            I was an average schoolchild, plays Warcraft 3 Multiplayer and other games in free time from school.
            At school teachers and high school students always predicted that I would be a programmer. <br />
            Because I spent a lot of time on the computer... But no one ever tried to interest me for this thing
            besides, I was smarter then everyone else in interacting with the computer. I didn't see where to expand my skills.
            <strong>Hostage of expectations.</strong> Finally, I finished school after ninth grade, and went to study as programmer.
            I got no interest here, whatever <strong>it was the only evolve step that I have seen.</strong> <br />
            Until in the third year of study I developed a course project, just not to be expelled. Thereafter I was fascinated by a development! <br />
            <strong> Since then, my main goal is to become a real .NET C# developer in any area of development, whether it WEB, Software, or Gamedev. </strong> <br />
            I want to progress and work, i sense, that is the work of my life. Even though I still don't know much about it. <br /><br />

            Thank you for reading this, i appreciate that.
        </p>

        <footer>
            <div style="text-align: center">
                <a href="https://github.com/ontonowskey" class="button scrolly">To portfolio</a>
            </div>
        </footer><br />

    </div>
</section>
